<?xml version="1.0"?>
<!--
/**
 * Rollpix ProductGallery Default Configuration
 *
 * @category  Rollpix
 * @package   Rollpix_ProductGallery
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rollpix_gallery>
            <!-- Zoom Settings -->
            <zoom>
                <type>hover</type>
                <level>3</level>
                <position>right</position>
            </zoom>
            <!-- Layout Settings -->
            <layout>
                <type>vertical</type>
                <gallery_position>left</gallery_position>
                <column_ratio>50_50</column_ratio>
                <grid_ratio>70_30</grid_ratio>
                <grid_image_columns>2</grid_image_columns>
                <image_gap>20</image_gap>
                <thumbnail_position>disabled</thumbnail_position>
                <thumbnail_style>outside</thumbnail_style>
                <slider_direction>horizontal</slider_direction>
                <slider_transition>fade</slider_transition>
                <slider_arrows>1</slider_arrows>
                <slider_dots>1</slider_dots>
                <slider_mousewheel>1</slider_mousewheel>
            </layout>
            <!-- Mobile Settings -->
            <mobile>
                <behavior>carousel</behavior>
            </mobile>
            <!-- Sticky Settings -->
            <sticky>
                <enabled>1</enabled>
                <mode>scroll</mode>
                <offset>20</offset>
            </sticky>
            <!-- Effects Settings -->
            <effects>
                <shimmer_enabled>0</shimmer_enabled>
                <fadein_enabled>0</fadein_enabled>
                <counter_enabled>0</counter_enabled>
            </effects>
            <!-- Tabs Settings -->
            <tabs>
                <inline_enabled>0</inline_enabled>
                <description_max_height>200</description_max_height>
            </tabs>
        </rollpix_gallery>
    </default>
</config>
