<?xml version="1.0"?>
<!--
/**
 * Rollpix ProductGallery Admin System Configuration
 *
 * @category  Rollpix
 * @package   Rollpix_ProductGallery
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="rollpix" translate="label" sortOrder="400">
            <label>Rollpix</label>
        </tab>

        <section id="rollpix_gallery"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Product Gallery</label>
            <tab>rollpix</tab>
            <resource>Rollpix_ProductGallery::config</resource>

            <!-- Zoom Group -->
            <group id="zoom"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Zoom Settings</label>

                <field id="type"
                       translate="label comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Zoom Type</label>
                    <comment>Select the zoom behavior when interacting with images</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\ZoomType</source_model>
                </field>

                <field id="level"
                       translate="label comment"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Zoom Level</label>
                    <comment>Magnification level for hover and click zoom</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\ZoomLevel</source_model>
                    <depends>
                        <field id="type" separator=",">hover,click</field>
                    </depends>
                </field>

                <field id="position"
                       translate="label comment"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Zoom Window Position</label>
                    <comment>Position of the magnified view (only for hover zoom)</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\ZoomPosition</source_model>
                    <depends>
                        <field id="type">hover</field>
                    </depends>
                </field>
            </group>

            <!-- Layout Group -->
            <group id="layout"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Layout Settings</label>

                <field id="type"
                       translate="label comment"
                       type="select"
                       sortOrder="5"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Layout Type</label>
                    <comment>Vertical: single column of images. Grid: multi-column image grid with info sidebar.</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\LayoutType</source_model>
                </field>

                <field id="gallery_position"
                       translate="label comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Gallery Position</label>
                    <comment>Position of the image gallery relative to product info</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\GalleryPosition</source_model>
                </field>

                <field id="column_ratio"
                       translate="label comment"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Column Ratio</label>
                    <comment>Width ratio between gallery and product info columns (vertical layout)</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\ColumnRatio</source_model>
                    <depends>
                        <field id="type">vertical</field>
                    </depends>
                </field>

                <field id="grid_ratio"
                       translate="label comment"
                       type="select"
                       sortOrder="25"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Grid Ratio</label>
                    <comment>Width ratio between image grid and product info sidebar (grid layout)</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\GridRatio</source_model>
                    <depends>
                        <field id="type" separator=",">grid,fashion,slider</field>
                    </depends>
                </field>

                <field id="grid_image_columns"
                       translate="label comment"
                       type="select"
                       sortOrder="26"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Image Columns in Grid</label>
                    <comment>Number of image columns within the grid area</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\GridImageColumns</source_model>
                    <depends>
                        <field id="type">grid</field>
                    </depends>
                </field>

                <field id="image_gap"
                       translate="label comment"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Gap Between Images</label>
                    <comment>Space between images in the gallery (in pixels)</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\ImageGap</source_model>
                </field>

                <field id="slider_direction"
                       translate="label comment"
                       type="select"
                       sortOrder="36"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Slider Direction</label>
                    <comment>Direction of slide transition when navigating between images</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\SliderDirection</source_model>
                    <depends>
                        <field id="type">slider</field>
                    </depends>
                </field>

                <field id="slider_transition"
                       translate="label comment"
                       type="select"
                       sortOrder="37"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Slider Transition</label>
                    <comment>Visual effect when switching between images</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\SliderTransition</source_model>
                    <depends>
                        <field id="type">slider</field>
                    </depends>
                </field>

                <field id="slider_arrows"
                       translate="label comment"
                       type="select"
                       sortOrder="38"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Slider Navigation Arrows</label>
                    <comment>Show prev/next arrow buttons on the slider</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="type">slider</field>
                    </depends>
                </field>

                <field id="slider_dots"
                       translate="label comment"
                       type="select"
                       sortOrder="39"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Slider Dot Indicators</label>
                    <comment>Show dot indicators below the slider for navigation</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="type">slider</field>
                    </depends>
                </field>

                <field id="slider_mousewheel"
                       translate="label comment"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Mouse Wheel Navigation</label>
                    <comment>Allow scrolling the mouse wheel over the image to switch slides</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="type">slider</field>
                    </depends>
                </field>

                <field id="thumbnail_position"
                       translate="label comment"
                       type="select"
                       sortOrder="45"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Thumbnail Navigation</label>
                    <comment>Show a strip of small thumbnail images for quick navigation. Desktop only. Only available for Slider layout.</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\ThumbnailPosition</source_model>
                    <depends>
                        <field id="type">slider</field>
                    </depends>
                </field>

                <field id="thumbnail_style"
                       translate="label comment"
                       type="select"
                       sortOrder="46"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Thumbnail Display Style</label>
                    <comment>Outside: thumbnails appear beside the image. Overlay: thumbnails and dots float inside the image.</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\ThumbnailStyle</source_model>
                    <depends>
                        <field id="type">slider</field>
                        <field id="thumbnail_position" separator=",">left,right,bottom</field>
                    </depends>
                </field>
            </group>

            <!-- Effects & Animations Group -->
            <group id="effects"
                   translate="label"
                   type="text"
                   sortOrder="35"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Effects &amp; Animations</label>

                <field id="shimmer_enabled"
                       translate="label comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Shimmer Loading Effect</label>
                    <comment>Show animated shimmer placeholder while images are loading</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="fadein_enabled"
                       translate="label comment"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Fade-in on Scroll</label>
                    <comment>Subtle opacity and slide-up animation when images enter the viewport. Not available when shimmer is enabled.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="shimmer_enabled">0</field>
                    </depends>
                </field>

                <field id="counter_enabled"
                       translate="label comment"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Image Counter</label>
                    <comment>Show position indicator while navigating images. Only effective with Slider layout.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <!-- Mobile Group -->
            <group id="mobile"
                   translate="label"
                   type="text"
                   sortOrder="90"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Mobile Settings</label>

                <field id="behavior"
                       translate="label comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Mobile Behavior</label>
                    <comment>How images are displayed on mobile devices</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\MobileBehavior</source_model>
                </field>
            </group>

            <!-- Tabs Group -->
            <group id="tabs"
                   translate="label"
                   type="text"
                   sortOrder="25"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Product Tabs</label>

                <field id="inline_enabled"
                       translate="label comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Inline Accordion Tabs</label>
                    <comment>Move product detail tabs (Description, Additional Info, Reviews) inside the product info column as collapsible accordion sections</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="description_max_height"
                       translate="label comment"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Description Max Height (px)</label>
                    <comment>Maximum visible height for description content before showing "Read more" link. Set 0 to disable truncation.</comment>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="inline_enabled">1</field>
                    </depends>
                </field>
            </group>

            <!-- Sticky Group -->
            <group id="sticky"
                   translate="label"
                   type="text"
                   sortOrder="30"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Sticky Panel Settings</label>

                <field id="enabled"
                       translate="label comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Sticky</label>
                    <comment>Keep product info panel fixed while scrolling through images</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="mode"
                       translate="label comment"
                       type="select"
                       sortOrder="15"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Sticky Mode</label>
                    <comment>Frame: info scrolls inside a fixed-height panel. Natural scroll: info scrolls with the page and sticks when its bottom reaches the viewport bottom.</comment>
                    <source_model>Rollpix\ProductGallery\Model\Config\Source\StickyMode</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="offset"
                       translate="label comment"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Top Offset (px)</label>
                    <comment>Distance from top of viewport when sticky (useful for fixed headers)</comment>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>

            <!-- Module Info Group -->
            <group id="info"
                   translate="label"
                   type="text"
                   sortOrder="100"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Module Info</label>

                <field id="module_info"
                       translate="label"
                       type="note"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label></label>
                    <frontend_model>Rollpix\ProductGallery\Block\Adminhtml\System\Config\ModuleInfo</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
